In [8]:
import pandas as pd
import json

In [9]:
file = "TF-IDF"

In [10]:
f = open("Vectornoise(" +file+ ").json",'r')
data = json.load(f)

In [11]:
df_A = pd.DataFrame(data['Attribute']['tfidf'])

In [12]:
df_A

   Euclidean    Cosine   Jaccard  Mahalanobis
0   0.438122  0.515578  0.499567     0.282562
1   0.401623  0.472696  0.457681     0.260234
2   0.369580  0.431934  0.421895     0.240978
3   0.340372  0.396127  0.385353     0.223734
4   0.314301  0.363804  0.355279     0.206945
5   0.288858  0.335720  0.328299     0.193271
6   0.266248  0.311077  0.300519     0.182324

In [13]:

df_B = pd.DataFrame(data['Class']['tfidf'])
df_B

   Euclidean    Cosine   Jaccard  Mahalanobis
0   0.438122  0.515578  0.499567     0.282562
1   0.418628  0.493877  0.492882     0.272003
2   0.394418  0.470511  0.483319     0.251536
3   0.361618  0.429576  0.466530     0.232583
4   0.321701  0.388317  0.451796     0.207854
5   0.283016  0.330896  0.425357     0.182648
6   0.228884  0.269753  0.385331     0.150476

In [14]:
df_A.to_csv('Attribute_noise_' + file + '.csv')
df_B.to_csv('Class_noise_' + file + '.csv')